* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 border: none;
}

:root {
 --background: #282c33;
 --primary: #c778dd;
 --gray: #abb2bf;
 --white: #ffffff;
 --animation: 0.3s all ease-in;
}

body,
html {
 height: 100%;
 font-family: "Fira Code", monospace;
 background-color: var(--background);
}
.wrapper {
 max-width: 1300px;
 width: 100%;
 margin: 0 auto;
 display: flex;
}
.content {
 max-width: 1064px;
 margin: 0 auto;
 flex: 1;
 display: flex;
 flex-direction: column;
 min-height: 100vh;
 gap: 112px;
 padding: 0 20px;
}
.header {
 padding: 32px 0 8px 0;
 display: flex;
 justify-content: space-between;
}
.header-logo {
 display: flex;
 align-items: center;
 gap: 8px;
 transition: var(--animation);
 text-decoration: none;
 color: var(--white);
}
.header-logo:hover {
 color: var(--primary);
}
.header-title {
 color: var(--white);
 font-size: 16px;
 font-weight: 700;
 transition: var(--animation);
}
.header-logo:hover .header-title {
 color: var(--primary);
}
.menu {
 list-style: none;
 display: flex;
 gap: 32px;
}
.menu-item a {
 color: var(--gray);
 text-decoration: none;
 font-size: 16px;
}
.menu-item a:hover {
 color: var(--white);
 transition: var(--animation);
}
.menu-item a span {
 color: var(--primary);
}

#lang {
 background-color: var(--background);
 color: var(--gray);
 font-weight: 600;
}
.main-hero {
 display: flex;
 align-items: center;
 gap: 18px;
}
.main-hero-title h1 {
 font-size: 32px;
 color: var(--white);
 font-weight: 600;
 line-height: normal;
 margin-bottom: 32px;
 max-width: 537px;
}
.main-hero-title h1 span {
 color: var(--primary);
}
.main-hero-title p {
 font-size: 16px;
 color: var(--gray);
 line-height: 25px;
 margin-bottom: 16px;
}
.btn-primary {
 color: var(--white);
 padding: 8px 16px;
 font-size: 16px;
 font-weight: 500px;
 line-height: normal;
 border: 1px solid var(--primary);
 background-color: transparent;
 font-family: inherit;
 cursor: pointer;
 transition: var(--animation);
 text-decoration: none;
}
.btn-primary:hover {
 background-color: var(--primary);
}
.btn-secondary {
 color: var(--gray);
 padding: 8px 16px;
 font-size: 16px;
 font-weight: 500;
 line-height: normal;
 border: 1px solid var(--gray);
 background-color: transparent;
 font-family: inherit;
 transition: var(--animation);
 cursor: pointer;
 text-decoration: none;
}
.main-hero-image {
 width: 50%;
 position: relative;
}
.main-hero-image-main {
 max-width: 100%;
 height: auto;
}
.main-hero-image-squares {
 position: absolute;
 top: -15%;
 left: -15%;
 transform: scale(0.7);
}
.main-hero-image-dots {
 position: absolute;
 right: -22px;
 bottom: 22px;
 transform: scale(0.7);
}
.main-hero-description {
 border: 1px solid var(--gray);
 padding: 8px;
 display: flex;
 align-items: center;
 gap: 10px;
}
.main-hero-description-text {
 color: var(--gray);
 font-size: 16px;
 font-weight: 500;
}
.main-hero-description-square {
 width: 16px;
 height: 16px;
 background-color: var(--primary);
}
.main-hero-description span {
 font-weight: 600;
 color: var(--white);
}
.credo {
 margin: 0 auto;
 display: flex;
 flex-direction: column;
 max-width: 720px;
}
.credo-1line,
.credo-2line {
 border: 1px solid var(--gray);
 color: var(--white);
 font-size: 24px;
}
.credo-1line {
 font-weight: 500;
 padding: 32px;
 position: relative;
}
.credo-2line {
 border-top: transparent;
 font-weight: 400;
 padding: 16px;
 max-width: 165px;
 align-self: flex-end;
}
.credo-1line-1quote,
.credo-1line-2quote {
 width: 41px;
 height: 20px;
 position: absolute;
 padding: 0 8px;
 z-index: 1;
 background-color: var(--background);
}
.credo-1line-1quote {
 top: -10px;
 left: 16px;
}
.credo-1line-2quote {
 bottom: -10px;
 right: 16px;
}
.skills {
 flex: 1;
}
.skills-content {
 margin-left: auto;
 width: 60%;
 margin-top: 43px;
}
.skills-content-list {
 list-style: none;
 display: flex;
 justify-content: flex-end;
 align-items: flex-start;
 gap: 16px;
}
.skills-content-list-item {
 border: 1px solid var(--gray);
 font-size: 16px;
 max-width: 33%;
 width: 100%;
}
.skills-content-item-title {
 color: var(--white);
 padding: 8px;
 font-weight: 600;
}
.skills-content-item-content {
 color: var(--gray);
 font-weight: 400;
 padding: 8px;
 border-top: 1px solid var(--gray);
}
.projects {
 flex: 1;
}
.projects-header {
 display: flex;
 justify-content: space-between;
 align-items: center;
}
.projects-header--link {
 color: var(--white);
 font-size: 16px;
 font-weight: 500;
 line-height: normal;
 text-decoration: none;
 transition: var(--animation);
}
.projects-header--link:hover {
 color: var(--primary);
}
.projects-content {
 margin-top: 48px;
 display: flex;
 justify-content: space-between;
}
.projects-content-card {
 border: 1px solid var(--gray);
 width: 32%;
 height: 100%;
}
.projects-content-card img {
 max-width: 100%;
 height: 100%;
 object-fit: cover;
}
.projects-content-card-subtitle {
 color: var(--gray);
 font-size: 16px;
 font-style: normal;
 font-weight: 400;
 line-height: normal;
 padding: 8px;
 border-bottom: 1px solid var(--gray);
}
.projects-content-card-title {
 color: var(--white);
 font-size: 24px;
 font-style: normal;
 font-weight: 500;
 line-height: normal;
 padding: 16px;
}
.projects-content-card-subscription {
 color: var(--gray);
 font-size: 16px;
 font-style: normal;
 font-weight: 400;
 line-height: normal;
 padding: 0px 16px 16px 16px;
}
.projects-content-card-button {
 padding: 0px 16px 16px 16px;
 display: flex;
 gap: 10px;
 flex-wrap: wrap;
}
.about {
 flex: 1;
}
.about-content {
 margin-top: 23px;
 display: flex;
 gap: 20px;
}
.about-content p {
 color: var(--gray);
 font-size: 16px;
 font-weight: 400;
 line-height: 26px;
 font-style: normal;
 max-width: 512px;
 margin-bottom: 27px;
}
.about-content-image {
 max-width: 48%;
 width: 100%;
}
.about-content-image img {
 width: 100%;
 height: auto;
}
.category-title h2 {
 font-size: 32px;
 font-weight: 500;
 color: var(--white);
 display: flex;
 align-items: center;
}

.category-title h2 span {
 color: var(--primary);
}
.category-title-line {
 height: 2px;
 background-color: var(--primary);
 width: 100%;
 min-width: 127px;
 max-width: 127px;
 display: block;
 margin-left: 16px;
 margin-top: 2px;
}
.contact {
 flex: 1;
}
.contact-content {
 margin-top: 45px;
 display: flex;
 justify-content: space-between;
}
.contact-content-text {
 max-width: 505px;
 color: var(--gray);
 font-size: 16px;
 font-style: normal;
 font-weight: 500;
 line-height: normal;
}
.contact-content-info {
 padding: 16px;
 border: 1px solid gray;
}
.contact-content-info-link {
 display: flex;
 align-items: center;
 color: var(--gray);
 font-size: 16px;
 font-weight: 400;
 gap: 5px;
 text-decoration: none;
 transition: var(--animation);
}
.contact-content-info-link:hover {
 color: var(--primary);
}
.contact-content-info-title {
 color: var(--white);
 font-size: 16px;
 font-weight: 600;
 margin-bottom: 16px;
}

.footer-copyright {
 text-align: center;
 color: var(--gray);
 font-size: 16px;
 font-weight: 400;
}
.footer {
 padding: 32px 0;
 border-top: 1px solid var(--gray);
 display: flex;
 flex-direction: column;
 gap: 48px;
}
.footer-header {
 display: flex;
 justify-content: space-between;
}

.footer-header-info-mail {
 text-decoration: none;
 color: var(--gray);
 font-size: 16px;
 font-weight: 400;
 font-style: normal;
}
.footer-header-info-title {
 display: flex;
 gap: 24px;
 margin-bottom: 16px;
}
.footer-header-info-description {
 color: var(--white);
 font-size: 16px;
 font-weight: 400;
 font-style: normal;
}
.footer-icons-list {
 list-style: none;
 display: flex;
 gap: 8px;
 align-items: center;
}
.footer-header-media-title {
 color: var(--white);
 font-size: 24px;
 font-style: normal;
 font-weight: 500;
 line-height: normal;
 margin-bottom: 12px;
}
.footer-icons-item a {
 color: var(--gray);
 transition: var(--animation);
}
.footer-icons-item a:hover {
 color: var(--primary);
}

@media (max-width: 720px) {
 .content {
  gap: 50px;
 }
 .main-hero {
  flex-direction: column;
 }
 .main-hero-title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
 }
 .main-hero-title h1 {
  text-align: center;
  margin-bottom: 15px;
 }
 .main-hero-title p {
  text-align: center;
 }
 .main-hero-image-squares {
  display: none;
 }
 .credo-1line,
 .credo-2line {
  padding: 15px;
 }
 .credo-1line p,
 .credo-2line p {
  text-align: center;
  font-size: 20px;
 }
 .projects-content {
  margin-top: 25px;
  flex-direction: column;
  gap: 20px;
 }
 .projects-content-card {
  width: 100%;
 }
 .skills-content {
  width: 80%;
  margin-top: 25px;
 }
 .about-content {
  flex-direction: column;
 }
 .about-content-description {
  width: 100%;
 }
 .about-content p {
  max-width: 100%;
 }
 .about-content-image {
  display: none;
 }
}
@media (max-width: 625px) {
 .content {
  gap: 25px;
 }
 .header {
  flex-direction: column;
  gap: 5px;
  padding-top: 20px;
 }
 .menu {
  justify-content: flex-end;
  gap: 20px;
 }
 .skills-content {
  width: 100%;
 }
 .contact-content {
  margin-top: 25px;
  flex-direction: column;
 }
 .contact-content-text {
  max-width: 100%;
  gap: 10px;
 }
 .contact-content-info {
  padding: 10px;
 }
 .contact-content-info-title {
  text-align: center;
 }
 .contact-content-info-link {
  display: inline-flex;
  width: 45%;
  justify-content: center;
 }
 .main-hero-title h1 {
  font-size: 25px;
 }
 .main-hero-image {
  max-width: 325px;
  min-width: 325px;
  height: auto;
  margin: 0 auto;
 }
 .credo-1line {
  padding: 15px 10px 10px 10px;
 }
 .credo-2line {
  padding: 10px;
 }
 .credo-1line p,
 .credo-2line p {
  font-size: 16px;
 }
 .credo-1line-1quote,
 .credo-1line-2quote {
  width: 31px;
  height: 12px;
 }
 .credo-1line-2quote {
  bottom: -5px;
 }
 .projects-header {
  flex-direction: column;
 }
 .projects-header h2 {
  justify-content: flex-start;
  width: 100%;
 }
 .category-title {
  width: 100%;
 }
 .projects-header--link {
  margin-left: auto;
 }
 .footer {
  gap: 20px;
  padding: 20px 0;
 }
 .footer-header {
  flex-direction: column;
 }
 .footer-header-info-title {
  margin-bottom: 5px;
 }
 .footer-header-media-title {
  text-align: end;
  margin-bottom: 10px;
 }
 .footer-icons-list {
  justify-content: flex-end;
 }
}
@media (max-width: 465px) {
 .content {
  padding: 0 15px;
  gap: 25px;
 }
 .menu {
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5px;
 }
 .skills-content-list {
  flex-direction: column;
 }
 .skills-content-list-item {
  max-width: 100%;
 }
 .projects-content-card-title,
 .projects-content-card-button {
  padding: 8px 16px;
 }
 .projects-content-card-subscription {
  padding: 0 16px 8px 16px;
 }
}
